<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>cabybara.lol</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid" style="max-width : 500px">
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto">
            {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin.queue')}}">queue</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin.upload')}}">upload</a>
            </li>
            {% endif %}
            {% if current_user.is_authenticated and current_user.superuser %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin.get_users')}}">users</a>
            </li>
            {% endif %}
          </ul>
          <ul class="navbar-nav ms-auto">
          {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin.logout')}}">logout {{current_user.name}}</a>
            </li>
          {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="container" style="padding-top: 10px; max-width : 500px">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for msg in messages %}
          <div class="alert alert-primary" role="alert">
            {{ msg }}
          </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block body %}{% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    {% block script %}
    {% endblock %}
  </body>
</html>
