{% extends "layout.html" %}
{% block body %}
        <form method="post" enctype="multipart/form-data">
          <div class="form-group" style="margin-bottom: 10px">
            <p class="h5">
              Capybara Upload
            </p>
              <div class="custom-file">
                <input type="file" name="file"
                class="custom-file-input" id="pluginFile">
              </div>
          </div>
          <button type="submit" class="btn btn-primary">
            upload
          </button>
        </form>
    </div>
{% endblock %}
{% block script %}
<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>
{% endblock %}
